
body
{
margin:0;
padding:0;
}
.heading1{text-align:center;background-color:#393d42;height:40px;line-height:40px;margin:0px;width:100%;color:#ffffff;border-bottom:2px solid #ffffff;}
.line{ font-size:22px;
font-weight:bold;
border-bottom:1px solid #909090;
border-top:1px solid #909090;
border-left:1px solid #909090;
border-right:1px solid #909090;
padding:
height:30px;
line-height:50px;
margin-top:40px;
margin-left:-5px;
width:90%;
background-color:#1f2124;color:#ffffff;float:left;
}

.line{ font-size:22px;
font-weight:bold;
border-bottom:1px solid #909090;
border-top:1px solid #909090;
border-left:1px solid #909090;
border-right:1px solid #909090;
padding:
height:30px;
line-height:50px;
margin-top:40px;
margin-left:-5px;
width:90%;

background-color:#1f2124;color:#ffffff;float:left;

}

.lineday{ font-size:22px;
font-weight:bold;
border-bottom:1px solid #909090;
border-top:1px solid #909090;
border-left:1px solid #909090;
border-right:1px solid #909090;
padding:
height:30px;
line-height:50px;
margin-top:40px;
margin-left:-5px;
width:90%;
background-color:#ffffff;color:#1f2124;float:left;
}
.day{
background-color: #ffffff;
color: #000000;
}
.night{
background-color:#0E171B;
color: #ffffff;}



body
{
margin:0;
padding:0;
background: none repeat scroll 0 0 rgb(242, 245, 248);
}
.Heading{font-size:20px;background-color:#393d42; color:#fff; width:100%; float:left; height:40px; line-height:40px; text-align:center;margin-top: 0;}
.Heading1{font-size:20px;background-color:#f2f5f8; color:#fff; width:100%; float:left; height:40px; line-height:40px; text-align:left;margin: 0;}
.Heading2{font-size:20px;background-color:#f2f5f8; color:#fff; width:100%; float:left; height:40px; line-height:40px; text-align:left;margin: 0;}
.IconLeft{float:left;height:35px;width:35px; padding-top:2px;padding-left:2px;padding-bottom:2px; padding-right:2px;background-color:#2a2f37;border-right:2px solid #1b1c1f;}
.IconRight{float:right;width:35px;height:35px; padding-top:2px;padding-left:2px;padding-bottom:2px; padding-left:4px;background-color:#2a2f37;border-right:1px solid #1b1c1f;margin-top:0px;border-right:2px solid #1b1c1f;border-left:2px solid #1b1c1f;border-top:2px solid #1b1c1;}
.IconRight1{float:right;width:35px;height:32px;padding-top:2px;padding-left:2px;padding-bottom:2px; padding-right:2px;background-color:#2a2f37;border-right:2px solid #1b1c1f;margin-top:0px;border-left:2px solid #1b1c1f;border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;}
.chapter{background-color:""; color:#fff; width:40px float:right; height:30px;margin: 0;}
.IconLeft1{float:left;height:35px;width:35px; padding-top:2px;padding-left:2px;padding-bottom:2px; padding-right:2px;background-color:#2a2f37;border-right:2px solid #1b1c1f;margin-top:0px;px;border-bottom:3px solid #1b1c1f;}
.subhead{margin-top:50px;}



.line3{font-size:20px;align:center;text-align:center;background-colorrouackg:#ffffff;height:40px;font-style:Italic;width:80%;color:#000000;margin-top:30px;border-top:1.5px solid #393d42;border-bottom:1.5px solid #393d42;border-left:1.5px solid #393d42;border-right:1.5px solid #393d42;}

.line12{text-transform:capitalize;font-size:20px;text-align:center;background-color:#ffffff;height:40px;font-style:Italic;width:80%;color:#000000;margin-top:30px;border-top:1.5px solid #393d42;border-bottom:1.5px solid #393d42;border-left:1.5px solid #393d42;border-right:1.5px solid #393d42;}

.line4{font-size:20px;font-style:bold;text-align:center;background-color:#00ca74;height:46px;margin:20px;font-style:Italic;width:60%;color:#ffffff;border-bottom:4px solid #00bb6b;border-top:1px solid #00ca74;border-left:1px solid #00ca74;border-right:1px solid #00ca74;font-size:22px;
font-weight:bold;



color:#ffffff;
}
.line5{font-size:20px;
font-weight:bold;
border-bottom:2px solid #909090;
padding:
height:30px;
line-height:50px;
margin-top:35px;
margin-left:-5px;
width:90%;
background-color:#1f2124;color:#ffffff;float:left;}
#wrapper
{
float: left;
height: auto;
width: 100%;
}
.left
{
float: left;
height: auto;
width: 100%;
}
.line6{font-size:15px;font-style:bold;text-align:center;background-color:#00ca74;height:55px;margin:20px;margin-rigth:0px;font-style:Italic;width:30%;color:#ffffff;border-bottom:2px solid #00bb6b;border-top:1px solid #00ca74;border-left:1px solid #00ca74;border-right:1px solid #00ca74;
font-weight:bold;color:#ffffff;}
.line8{font-size:18px;
font-weight:bold;
border-bottom:2px solid #909090;
padding:
height:0px;
line-height:50px;
margin-top:10px;
margin-bottom:10px;
margin-left:-5px;
width:90%;
background-color:#1f2124;color:#ffffff;
float:left;}
.line7{font-size:18px;
font-weight:bold;
border-bottom:2px solid #909090;
padding:
height:0px;
line-height:50px;
margin-top:30px;
margin-bottom:10px;
margin-left:-5px;
width:90%;
background-color:#1f2124;color:#ffffff;
float:left;}
#wrapper
{
float: left;
height: auto;
width: 100%;
}
.left
{
float: left;
height: auto;
width: 100%;

}
.trans{
opacity: 0.5;
height:30 px;
width: 90px;
background-color:balck;
}
.line11{font-size:15px;font-style:bold;text-align:center;background-color:#00ca74;height:40px;margin:20px;margin-rigth:0px;font-style:Italic;width:30%;color:#ffffff;border-bottom:4px solid #00bb6b;border-top:1px solid #00ca74;border-left:1px solid #00ca74;border-right:1px solid #00ca74;
font-weight:bold;color:#ffffff;}

.line15{margin-top:20px;text-align:justify;width:96%;margin-left:-34px;margin-right:-60px;}
.chaptersub{margin-top:20px;text-align:justify;width:96%;margin-left:-34px;margin-right:-60px;}


.line16{margin:2px 10px 10px 35px;padding:2px 2px 2px 2px;}
.line19{margin:70px 10px 10px 35px;padding:2px 2px 2px 2px;width:100%;}


.line17{font-size:18px;background-color:#d3d3d3 ;align:center; color:#000;width:100%; float:left;height:25px;font-weight:bold;line-height:20px;}

.line18{font-size:20px;background-color:#d3d3d3 ; color:#000; width:100%; float:left; height:40px; text-align:center;padding-top:10px;margin-top:0px;font-weight:bold;border-bottom:4px solid #909090;}
.line20{font-size:14px; color:#000; width:100%; }
.line25{color:red;font-size:18px;background-color#f2f5f8";width:100%; float:left; height:auto; text-align:center;margin-top:0px;padding-bottom:10px;font-weight:bold;padding-top:20px;border-top:3px solid #1b1c1f;}
.line35{text-align:justify;font-size:14px;background-color:#d3d3d3 ; color:#000; width:100%; float:left; height:35px; text-align:center;margin-top:0px;font-weight:bold;padding-top:5px;}
.line30{width:30%;}
.line27{font-size:14px;background-color:#d3d3d3 ; color:#000; width:50%; float:left; height:5px; text-align:center;margin-top:0px;font-weight:bold;padding-top:5px;}
.line60{font-size:15px;background-color:#d3d3d3 ; color:#000; width:100%; float:left; height:30px; text-align:center;margin-top:0px;font-weight:bold;padding-top:10px;}

.line45{background-color:#d3d3d3;text-align:center;margin-top:0px;}
.sectionpage{background-color:#d3d3d3;text-align:center;margin-top:0px;height:30px;}
.line50
{
width:45px;
height:45px;
background:../day-night.png;
}
.line50 li
{display:none;

}
.line50:hover li
{
display:block;

}
.marqueehead{margin-top:0px;}
.subhead{margin:0px;}
.subhead1{margin:30px;margin-left:0px;}
.image{background-color:#2a2f37;}
$('#img').click(function() {
    //Now just reference this button and change CSS
    $(this).css('background-color','#f47121');
});
.bknd{background-color:#d3d3d3 ;}
.play{float:right;background-color:rgb(42, 47, 55);height: 34px; padding: 2px; width: 35px;border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;border-left:2px solid #1b1c1f;}
.pause{float:right;background-color:rgb(42, 47, 55);height: 34px; padding: 2px; width: 35px;border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;border-left:2px solid #1b1c1f;}
.play1{float:right;background-color:rgb(42, 47, 55);height: 55px; width: 40px;border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;border-left:2px solid #1b1c1f;margin-top:-20px;}
.pause1{float:right;background-color:rgb(42, 47, 55);height: 55px;width: 40px;border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;border-left:2px solid #1b1c1f;margin-top:-20px;}
.day4{font-size:20px;font-style:bold;text-align:center;background-color:#00ca74;height:30px;margin:20px;font-style:Italic;width:30%;border-bottom:2px solid #00bb6b;border-top:1px solid #00ca74;border-left:1px solid #00ca74;border-right:1px solid #00ca74;font-size:22px;
font-weight:bold;
color:#ffffff;
}
.button {
background-color:#0000ff;
display: inline-block;
font-size: 24px;
font-family: 'Meiryo UI';
color: #fff;
width:35px;
height:34px;
text-decoration: none !important;
padding:2px 2px;
line-height: inherit;
overflow: hidden;
position: relative;
margin-top:0px;
}
	.button:hover {
		opacity: 0.9;
	}
	#content{
	font-family: 'Lato', sans-serif;
	text-align:justify;
	padding:10px;
	background-color:whitesmoke;
	font-size:14px;
	}
	#incfont{
	background-color:rgb(42, 47, 55);
   border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;border-left:2px solid #1b1c1f;border-right:2px solid #1b1c1f;
	color:white;
	}
	#decfont{
	background-color:rgb(42, 47, 55);
    border-bottom:2px solid #1b1c1f;border-top:2px solid #1b1c1f;border-left:2px solid #1b1c1f;border-right:2px solid #1b1c1f;
	color:white;
	}
	#fontlinks{
	float:left;
	
	margin-top:0px;
	
	text-align:center;
	}
	.buttonfont{
	color:dimgrey;
	}
	.resulthead{background-color: rgb(42, 47, 55);border-bottom:3px solid #1b1c1f;}
	.section{margin:2px 10px 10px 15px;padding:2px 2px 2px 2px;list-style: none;}

.sectionword{padding:2px,2px,2px,2px;}
#speaker{height:40px;width:38px;}
.line1{width:100%;}
.alphabettext{font-size:18px;}
.sectionlist{font-size:18px;padding:0px 0px 0px 16px;margin-top:0px;}
.sectionlist1{font-size:18px;padding:0px 0px 0px 2px;margin-top:0px;}
.chapterhead{color:red;font-size:18px;background-color#f2f5f8";width:100%; float:left; height:auto; text-align:center;margin-top:0px;padding-bottom:10px;font-weight:bold;padding-top:20px;border-top:3px solid #1b1c1f;}



/* Day Light Button*/
